.crew-container{
    background: url('/src/assets/crew/background-crew-desktop.jpg') no-repeat center;
    display: flex;
    align-items: center;
   
    .role{
        font-size: 1rem;
        opacity: 0.5;
    }
    .name{
        font-size: 1.65rem;
    }

    .crew-img{
        margin: 2em auto 0 auto;
    }
    .crew-nav{
        span{
            opacity: 0.45;
            svg{
                background-color: $clr-primary;
                border-radius: 50%;
            }
        }
        .span:hover,
        .span:focus{
            opacity: 0.25;
            border: none !important; 
        }
    }
}


@media screen and (min-width: 600px){
    .crew-container{
        align-items: flex-end;
    }
    .crew-info-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2em 0 0 0;

        .crew-info{
            display: flex;
            flex-direction: column-reverse;
        }
        .crew-img{
            order: 2;
            position: relative;
            bottom: 0;
            width: 50%;
            margin: 0;
            hr{
                display: none;
            }
            img{
                width: 50%;
            }
        }
        .crew-info{
            order: 1;
            align-self: center;
        }

    }
}


@media screen and (min-width: 1000px) {
    .crew-container{
        align-items: flex-end;
    }
    .crew-info-container{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        flex-direction: row;

        
        .crew-img{
            img{
                width: 60%;
            }
        }
    }
}