// font-family: 'Barlow', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Bellefair', serif;

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');


$clr-primary: #FFFFFF;
$clr-secondary: #D0D6F9;
$font-heading: 'Bellefair';
$font-subHeading: 'Barlow Condensed';
$font-para: 'Barlow';