// .home-section{
//     width: 80%;
//     margin: 0 auto;
//     display: flex;
//     align-items: center;
//     // gap: 4em;
//     justify-content: space-between;
//     height: 80vh;
//     .home-intro{
//         width: 40%;
//     }

//     .home-graphics-container{
//         width: 50%;
//         display: flex;
//         justify-content: center;
//         .home-graphics{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             width: 200px;
//             height: 200px;
//             border: none;
//             border-radius: 50%;
//             background-color: $clr-primary;
//             font-family: $font-heading;
//             text-transform: uppercase;
//             letter-spacing: .25rem;
//         }
//     }
// }

// @media screen and (max-width: 768px) {
//     .home-graphics{
//         width: 180px;
//         height: 180px;
//     }
// }

// @media screen and (max-width: 500px) {
//     .home-section{
//         flex-direction: column;
//         // height: 100vh;
//         justify-content: space-evenly;

//         .home-intro, 
//         .home-graphics-container{
//             width: 100%;
//         }
//         .home-graphics{
//             width: 140px;
//             height: 140px;
//         }
//     }
// }

.home-section{
    background-image: url('../assets/home/background-home-desktop.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    @include centerVH;

    .home-intro{
        margin-top: 4em;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .home-graphics-container{
        margin: 0 auto;
        .home-graphics{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $clr-primary;
            width: 150px;
            height: 150px;
            padding: 3em;
            border-radius: 50%;
            text-transform: uppercase;
            font-family: $font-heading;
            letter-spacing: .25rem;
        }
        
    }
}

@media screen and ( min-width: 700px ) and (max-width: 1000px) {
    .home-intro{
        text-align: center;
        max-width: 350px;
    }
}

@media screen and ( min-width: 1000px ) {
    .home-section{
        .flex{
            flex-direction: row;
            align-items: flex-end;

            .home-intro{
               margin-left: 5em;
               max-width: 350px;
            }

            .home-intro, .home-graphics-container{
                width: 50%;
            }
            .home-graphics-container{
                display: flex;
                justify-content: center;

                .home-graphics{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}