
.home-section{
    background-image: url('../assets/home/background-home-desktop.jpg') ;
    @include background;

    @include centerVH;

    .home-intro{
        margin-top: 4em;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .home-graphics-container{
        margin: 0 auto;
        .home-graphics{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $clr-primary;
            width: 150px;
            height: 150px;
            padding: 3em;
            border-radius: 50%;
            text-transform: uppercase;
            font-family: $font-heading;
            letter-spacing: .25rem;
        }
        
    }
}

@media screen and ( min-width: 700px ) and (max-width: 1000px) {
    .home-intro{
        text-align: center;
        max-width: 350px;
    }
}

@media screen and ( min-width: 1000px ) {
    .home-section{
        .flex{
            flex-direction: row;
            align-items: flex-end;

            .home-intro{
               margin-left: 5em;
               max-width: 350px;
            }

            .home-intro, .home-graphics-container{
                width: 50%;
            }
            .home-graphics-container{
                display: flex;
                justify-content: center;

                .home-graphics{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}