.destination-container,
.crew-container{
    background-image: url('/src/assets/destination/background-destination-desktop.jpg');
    @include background;
    

    .destination-img,
    .crew-img{
        width: 40%;
        margin: .5em auto;
    }

    .destination-nav,
    .crew-nav{
        color: $clr-secondary;
        padding: .25em 0;
        margin: 1em 0;
        text-transform: uppercase;

        span{
            margin: 0 .5em;
            opacity: .65;
            cursor: pointer;
        }
        span:hover,
        span:focus{
            opacity: 0.25;
            border-bottom: 2px solid $clr-secondary;
        }
    }

    .heading{
        font-weight: normal;
    }
}

@media screen and (min-width: 600px){

    .destination-container,
    .crew-container{
        .heading{
            margin: .25em 0;
        }
        .sub-heading{
            text-align: left;
            margin-left: 3em;
        }
        .container{
            width: 60%;
        }
        .destination-img,
        .crew-img{
            width: 20%;
        }
        .destination-footer-info{
            @include centerVH;
            justify-content: flex-start;
            gap: 4em;
        }

    }
}

@media screen and (min-width: 1000px) {
    .destination-info-container,
    .crew-info-container{
        @include centerVH;
        margin: 3em auto;
        text-align: left;

        .destination-img,
        .destination-info,
        .crew-img,
        .crew-info{
            width: 50%;
            .container{
                margin: 0;
            }
        }
        .destination-img,
        .crew-img{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 50%;
            }
        }
    }
}